/* ------------------------------
   Larger Screen Styles
--------------------------------- */

@media screen and (min-width: 700px) {

    .site-header {
        max-width: 1100px;
        margin: 0 auto;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #0b2545;
    }

    nav a {
        min-width: 140px;
        border-top: none;
        border-left: 1px solid rgba(255, 255, 255, 0.15);
    }

    main {
        padding: 2rem;
    }

    .course-filters {
        flex-direction: row;
        justify-content: center;
    }

    .course-filters button {
        min-width: 150px;
    }

    #course-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ------------------------------
   Extra Large Screens
--------------------------------- */

@media screen and (min-width: 1000px) {

    #course-list {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        padding: 2.5rem;
    }
}